In [5]:
print('apple')

apple

In [6]:
import pandas as pd

In [2]:
import tushare  as ts
ts.get_hist_data('600848')

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2023-11-10,10.89,10.92,10.83,10.78,28172.01,-0.09,-0.82,10.938,10.842,10.771,35811.70,38808.75,42759.64,0.12
2023-11-09,10.99,11.04,10.92,10.91,30314.20,-0.04,-0.36,10.930,10.831,10.784,39219.68,40990.19,42917.83,0.13
2023-11-08,10.96,11.09,10.96,10.94,32650.32,-0.03,-0.27,10.904,10.791,10.791,40467.20,40485.43,43421.76,0.14
2023-11-07,11.03,11.12,10.99,10.95,38380.52,0.00,0.00,10.860,10.754,10.796,40751.22,41587.10,43392.62,0.16
2023-11-06,10.80,11.07,10.99,10.80,49541.46,0.20,1.85,10.808,10.710,10.800,42008.51,42897.16,44150.26,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-18,22.04,22.24,21.75,21.61,66700.97,-0.30,-1.36,22.080,22.080,22.080,140874.07,140874.07,140874.07,0.55
2021-05-17,21.97,22.36,22.05,21.40,96913.78,-0.10,-0.45,22.163,22.163,22.163,159417.35,159417.35,159417.35,0.80
2021-05-14,22.45,22.63,22.15,21.81,115626.21,-0.42,-1.86,22.200,22.200,22.200,180251.87,180251.87,180251.87,0.95
2021-05-13,21.54,22.58,22.57,21.15,201596.75,0.69,3.15,22.225,22.225,22.225,212564.71,212564.71,212564.71,1.66
2021-05-12,21.33,21.88,21.88,20.80,223532.66,0.74,3.50,21.880,21.880,21.880,223532.66,223532.66,223532.66,1.84